<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Themes Login + logo -->
  <ion-list no-margin>
    <img src="assets/images/logo/login.png" />
    <form  [formGroup]="formLogin" #rFormLogin="ngForm" (ngSubmit)="onLogin(rFormLogin)">
      <ion-item no-padding>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <button ion-button right default-button (click)="onLogin()">Login</button>
      <button ion-button right default-button (click)="onRegister()">Register</button>
    </form>
    <!--Social Button-->
    <!--
    <div class="social">
      <button ion-button color="facebook" (click)="onEvent('onFacebook')">Facebook</button>
      <button ion-button color="twitter" (click)="onEvent('onTwitter')">Twitter</button>
      <button ion-button color="google" (click)="onEvent('onGoogle')">Google</button>
      <button ion-button color="pinterest" (click)="onEvent('onPinterest')">Pinterest</button>
    </div>
    -->
  </ion-list>
</ion-content>
