<!--
  Generated template for the Perfil page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- classic header bar -->
<ion-header>
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Perfil</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
  <!-- add the ion-profile-header component here. options are mandatory. -->
  <ion-profile-header [options]="options"></ion-profile-header>

  <!-- the rest of the content is up to you-->
  <ion-card>
    <button ion-button right default-button (click)="onLogout()">Logout</button>
  </ion-card>
</ion-content>
