<!--
  Generated template for the AddPartido page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Partido</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="tipopartido" color="primary">
    <ion-segment-button value="privado">
      Privado
    </ion-segment-button>
    <ion-segment-button value="publico">
      Publico
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="tipopartido">
    <ion-list *ngSwitchCase="'privado'">


      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm"
                      minuteValues="0,30"
                      hourValues="10,11,12,13,14,15,16,17,18,19,20,21,22"
                      pickerFormat="MMM DD, YYYY HH:mm"
                      [(ngModel)]="datetimePartido" required
                      name="formdatetimepartido"
                      #formdatetimepartido="ngModel"
                      ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Club</ion-label>
        <ion-select [(ngModel)]="clubseleccionado" required
                    name="formclubseleccionado"
                    #formclubseleccionado="ngModel">
          <ion-option *ngFor="let club of clubs" [value]="club">{{club.nombre}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button full (click)="selectClubFecha(datetimePartido)" *ngIf="formdatetimepartido.touched && formclubseleccionado.valid">Buscar</button>
      </ion-item>

      <!--
      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="uno"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="dos"></ion-input>
      </ion-item>
      -->


        <div *ngIf="showhorasdisponibles">
          <div>
            <h2 color="primary">PISTAS DISPONIBLES</h2>
          </div>
          <div *ngIf="tabla_availability.length == 0">
            <ion-label color="secondary">NO EXISTE DISPONIBILIDAD DE PISTAS</ion-label>
          </div>

          <div *ngIf="tabla_availability.length > 0">
            <ion-scroll   scrollX="true" scrollY="true" style="width:100vw; height: 400px; white-space: nowrap;">

              <tabla-pistas class="scroll-item" *ngFor="let pista of tabla_availability" [idresource]="pista.idResource" [resourcename]="pista.resourceName" [horas]="pista.horas" (horaselect)="selectHoraYPista($event)">
              </tabla-pistas>

            </ion-scroll>
          </div>
        </div>

      <ion-item *ngIf="showselecthorapista">
        <ion-label>{{selecthorapista.resourcename}} -- {{selecthorapista.hora}}</ion-label>
      </ion-item>

      <ion-item *ngIf="showconfirmacionreserva">
        <ion-label>Pre-Reseva generada importe: {{reserva.total}}</ion-label>
      </ion-item>
      <ion-item *ngIf="showconfirmacionreserva_boton">
        <button ion-button full (click)="confirmarysave('','')">Confirmar</button>
      </ion-item>
      <ion-item *ngIf="showreservaconfirmada">
        <ion-label>Reserva confirmada num: {{idreservation}}</ion-label>
      </ion-item>


      <ion-item *ngIf="onGuardar">
        <button ion-button full>Guardar</button>
      </ion-item>


    </ion-list>

    <ion-list *ngSwitchCase="'publico'">
      Partidos publicos

      <ion-item>
      <button ion-button full>Guardar</button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
