page-chatmessages {

    $color1: #f1f1f1;
    $color2: #e6e5eb;

    img {
      background-color: #fdfdfd;
      &.profile-pic {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
        &.left {
          left: 10px;
        }
        &.right {
          right: 10px;
        }
      }
    }

    .ion-email {
      float: right;
      font-size: 32px;
      vertical-align: middle;
    }

    .message {
      font-size: 14px;
    }

    .message-detail {
      font-size: 11px;
      float: right;
    }

    .bar.item-input-inset .item-input-wrapper input {
      width: 100% !important;
    }

    .message-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;

      &:last-child {
        margin-bottom: 10px;
      }
    }

    .chat-bubble {
      border-radius: 5px;
      display: inline-block;
      padding: 10px 18px;
      position: relative;
      margin: 10px;
      max-width: 80%;
      &:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: 7px;
      }

      img, img {
        max-width: 100%;
        max-height: 300px;
        min-height: 264px;
        min-width: 250px;
      }

      &.left {
        background-color: $color2;
        float: left;
        margin-left: 55px;
        &:before {
          background-color: $color2;
          left: 1px;
          -webkit-transform: rotate(70deg) skew(5deg);
          transform: rotate(70deg) skew(5deg);
        }
      }

      &.right {
        background-color: $color1;
        float: right;
        margin-right: 55px;

        a.autolinker {
          font-weight: bold;
        }

        &:before {
          background-color: $color1;
          right: 1px;
          -webkit-transform: rotate(118deg) skew(-5deg);
          transform: rotate(118deg) skew(-5deg);
        }
      }

    }

    .bold {
      font-weight: bold;
    }

    .cf {
      clear: both !important;
    }

    a.autolinker {
      color: #3b88c3;
      text-decoration: none;
    }

    ion-footer {
    }


}
