<ion-item style="display: inline-block;">
  <div >{{resourcename}}</div>
  <div >
    <div >
      <ion-row style="/*display: inline-block;*/">
        <ion-col *ngFor="let boton of horas" style="/*display: inline-block;*/">
          <div *ngIf="boton.isvalid == true">
            <button ion-button small (click)="selectHoraPista(idresource,boton.hora,resourcename)">{{boton.hora}}</button>
          </div>
          <div *ngIf="boton.isvalid == false">
            <button ion-button small disabled>{{boton.hora}}</button>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-item>
