<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HOME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="tipolista" color="primary">
    <ion-segment-button value="mispartidos">
      Mis Partidos
    </ion-segment-button>
    <ion-segment-button value="meapunto">
      Me Apunto
    </ion-segment-button>
  </ion-segment>

  <ion-fab bottom right>
    <button ion-fab mini color="secondary" (click)="addPartido()">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>
<!--
  <div *ngFor="let _contacto of contactos  " >
    <span>{{_contacto.nick}}</span>
  </div>
-->
  <div [ngSwitch]="tipolista">
    <ion-list *ngSwitchCase="'mispartidos'">
      <ion-item-sliding *ngFor="let _partido of partidos">
        <ion-item>
          <ion-avatar item-left>
            <!-- <img src=""> -->
            <ion-icon name="ios-tennisball" color="pala_verde"></ion-icon>
          </ion-avatar>
          <h2>{{_partido.owner_nick}} - ({{_partido.nivelpartido}})</h2>
          <h3>{{_partido.Fecha | amDateFormat:'LL'}} {{_partido.Fecha | amDateFormat:'LT'}}</h3>
          <p>
            <span *ngFor="let player of _partido.players">{{player.nick}} ({{player.nivel}})</span>
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary">
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
          <button ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
            Cancelar
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="lock"></ion-icon>
            Cerrar
          </button>
        </ion-item-options>

      </ion-item-sliding>
      ...
    </ion-list>

    <ion-list *ngSwitchCase="'meapunto'">
      <ion-item-sliding *ngFor="let _meapunto of meapuntos">
        <ion-item>
          <ion-avatar item-left>
            <!--<img src="">-->
            <ion-icon name="ios-tennisball" color="pala_azul"></ion-icon>
          </ion-avatar>
          <h2>{{_meapunto.get('owner_nick')}} - ({{_meapunto.get('nivelpartido')}})</h2>
          <h3>{{_meapunto.get('Fecha') | amDateFormat:'LL'}} {{_meapunto.get('Fecha') | amDateFormat:'LT'}} </h3>
          <p>
            <span *ngFor="let player of _meapunto.get('players')">{{player.nick}} ({{player.nivel}})</span>
          </p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            OK
          </button>
        </ion-item-options>


      </ion-item-sliding>
      ...
    </ion-list>


  </div>

</ion-content>
