<ion-menu [content]="content">
  <ion-content>
    <!-- * define main sidemenu styling:
      - sidemenu-fill
      - sidemenu-gradient
      - sidemenu-glass
      - sidemenu-glass-avatar

      To use sidemenu-glass-avatar, please use the following sytax (like the active example below)
      [sidemenu]="'sidemenu-glass-avatar'"

      other style can be accessed through the normal css class like:
      class="sidemenu-fill"
      * -->
    <ion-list class="sidemenu-glass">

      <!-- * profile styles:
        - profile-small-transparant
        - profile-small-glass
        - profile-large-transparant
        - profile-large-glass
        - profile-large

        To use profile-small-glass or profile-large-glass,
        please use the following sytax (like the active example below)
        [profile]="'profile-large-glass'" or [profile]="'profile-small-glass'"
      * -->
      <div [profile]="'profile-large-glass'">

        <!-- Profile Pic -->
        <div class="avatar"><img [src]="profile.img"></div>
        <p>{{ profile.name }}</p>

        <!-- * additional elements below the avatar * -->
        <!-- * below design is suitable for profile-small and profile-large-glass * -->
        <div class="leftcol">
          <p><i class="icon ion-ios-people-outline"></i> 28</p>
        </div>
        <div class="middlecol">
          <p><i class="icon ion-ios-chatboxes-outline"></i> 3</p>
        </div>
        <div class="rightcol">
          <p><i class="icon ion-ios-personadd-outline"></i> 1</p>

        </div>

        <!-- * below design is suitable for profile-large-glass * -->
        <!--
        <div class="leftcol">
              <p>28<br>followers</p>
        </div>
        <div class="middlecol">
              <p>300<br>following</p>
        </div>
        <div class="rightcol">
              <p>3<br>messages</p>
        </div>
        -->
      </div>

      <!-- * Indicator usage
        Indicator supported are the following
        - current-indicator
        - current-pressed
        - current-highlight

        to change style, modify the openPage function in app.component.ts where the page.indicator is set
        to a certain style
      * -->
      <div class="sidemenu-item {{p.indicator}}" menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <i class="{{p.icon}}"></i> {{p.title}}
      </div>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
