<!--
  Generated template for the Intro page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-slides pager >

  <ion-slide>
    <img src="assets/images/intro/intro1.png" />
  </ion-slide>

  <ion-slide>
    <img src="assets/images/intro/intro2.png" />
  </ion-slide>

  <ion-slide>
    <img src="assets/images/intro/intro3.png" />
  </ion-slide>

  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/images/intro/intro4.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="light" (click)="goToHome()">Start Using My App</button>
      </ion-col>
    </ion-row>
  </ion-slide>

</ion-slides>
