<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Chats'| translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onModalChatForm()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <loader *ngIf="loading "></loader>
  <!-- error -->
  <div class="center" *ngIf="showErrorView" padding>
    <div class="error ">
      <ion-icon [name]="errorIcon"></ion-icon>
      <p>{{ 'Connection unavailable' | translate }}</p>
      <button ion-button color="primary" (click)="doTry()">
        {{ 'Try again' | translate }}
      </button>
    </div>
  </div>
  <!-- empty-->
  <div class="center" *ngIf="showEmptyView" padding>
    <div class="error">
      <ion-icon [name]="errorIcon"></ion-icon>
      <p>{{ 'Not chat' | translate }}</p>
    </div>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-item *ngFor="let item of data" (click)="onPageMessage(item)">
      <ion-avatar item-left>
        <!-- One Profile-->
        <img *ngIf="item.users.length==1 && item.users[0].photo" [src]="item.users[0].photo._url">
        <img *ngIf="item.users.length==1 && !item.users[0].photo" src="assets/img/user.png">


        <!-- Profile 1-->
        <img class="img" *ngIf="item.users.length>1 && item.users[0].photo" [src]="item.users[0].photo._url">
        <img class="img" *ngIf="item.users.length>1 && !item.users[0].photo" src="assets/img/user.png">


        <!-- Profile 2-->
        <img class="img2" *ngIf="item.users.length>1 && item.users[1].photo" [src]="item.users[1].photo._url">
        <img class="img2" *ngIf="item.users.length>1 && !item.users[1].photo" src="assets/img/user.png">

      </ion-avatar>

      <ion-note item-right *ngIf="item.message">{{item.message.createdAt | amTimeAgo}}</ion-note>

      <h2 *ngFor="let profile of item.users">{{profile.name}}</h2>
      <p *ngIf="item.message">{{item.message.message}}</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
