<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clubs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <!--<ion-icon [name]="item.icon" item-left></ion-icon>-->


      <div class="item-note" item-right>

        <span>{{item.nombre}}</span>
        <span>{{item.direccion}}</span>
        <a href="telf:{{item.phone}}">{{item.phone}}</a>
        <a href="mailto:{{item.email}}">{{item.email}}</a>
        <a href="{{item.web}}">{{item.web}}</a>
      </div>

    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>

    You navigated here from <b>{{selectedItem.nombre}}</b>

  </div>
</ion-content>
